@font-face {
    font-family: 'Fira Sans Regular';
    src: url('FiraSansCompressed-Regular.woff') format('woff'),
}

.Fira-Sans-Regular {font-family: "Fira Sans Regular", sans-serif;}

@font-face {
    font-family: 'Fira Sans Medium';
    src: url('FiraSansCompressed-Medium.woff') format('woff'),
}

.Fira-Sans-Medium {font-family: "Fira Sans Medium", sans-serif;}

@font-face {
    font-family: 'Fira Sans Bold';
    src: url('FiraSansCompressed-Bold.woff') format('woff'),
}

.Fira-Sans-Bold {font-family: "Fira Sans Bold", bold;}


@font-face {
    font-family: 'Fira Sans Italic';
    src: url('FiraSansCompressed-Italic.woff') format('woff'),
}

.Fira-Sans-Italic {font-family: "Fira Sans Italic", italic;}

@font-face {
    font-family: 'Fira Mono Regular';
    src: url('FiraMono-Regular.woff') format('woff'),
}

.Fira-Mono-Regular {font-family: "Fira Mono Regular", monospace;}
