
/* Main blocks style {{{ */
body {
        padding: 0;
        margin: 0;
        font-family: 'Helvetica', serif;
        font-size: 100%;

}

#wrapper {
        width: 36em;
        max-width:640px;
        margin: 0 auto;
        font-size: 18px;
        line-height: 1.2; 
}

@media only screen and (max-width: 320px) {
        #wrapper {
                font-size: 16px;
        }
}


.topnav.wrapper {
        text-align:left;
}

footer {
        text-align: center;
        margin: auto;
        width: 90%;
        max-width: 640px;
        border-top:1px solid #aaa;
        padding: 10px;
}

#blank {
        height: 100%;
        padding:10px;
}

blockquote {
	font-style: italic;
	background: #f9f9f9;
	border-left: 6px solid #ccc;
	padding: 0.5em 8px;
}

blockquote p {
        display: inline;
}

pre {
	margin: 1em 0;
	overflow: auto;
	overflow-y: hidden;
	background: #efefef;
	padding: 8px;
	color: #333;
}


/* Titles and headers {{{ */
h1, h3 {
        line-height:1.2;
}

h1, p {
        display: inline-block;
}

h2 {
        font-weight: normal;
        color: #777;
}

/* links */
h1 a:hover {
        color: #f94;
}

a {
        text-decoration: none;
        font-style: italic;
}

a:hover {
        text-decoration: 1px underline;
}

h1 a, h2 a, h3 a {
        font-style: normal;
}

header {
        text-align: center;
}


header h1 a {
        color: #1e1e1e;
        border: none;
}

hr {
        border: 0;
        height: 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	padding: 4px;
}

footer {
	position:relative;
	bottom:0;
	height:4em;
	font-size:16px;
	padding-top:1em;
	border-top:1px solid #999;	
}

img {
        max-width:640px;
        height:auto;
}

.date {
        font-size:14px;
        color: #777;

}


/*
'tag {}
*/
